body {
    background-color: darkturquoise;
}

p {
    border-style: dashed;
    color: brown;
    border-color: blue;
}

h1{
    padding-left: 40px;
}
a {
    color: red
}
.dzivnieks {
border-style: dashed;
border-color: blue;
}
.redText {
    color:red
}
button#specialButton{
   background-color: gold
}

div.pilnais{
    min-height: 100px;
    background-color: blue;
    display: grid;
    grid-template-columns: 2fr 4fr;
}
div.kreisais{
    min-height: 50px;
    background-color: red;
}
div.labais{
    min-height: 50px;
    background-color: green;
}